.detail-container {
    box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px
    rgba(0,0,0,0.3),
    0 -6px 16px -6px rgba(0,0,0,0.025);
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    max-width: 400px;
    font-weight: 300;
    vertical-align: middle;
}

.detail-container span:first-child {
    font-size: 30px;
}

.detail-container span:last-child {
    text-align : center;
    display: block;
    margin-top: 10px;
}

.star-rating {
     width:205px; 
    }
.star-rating,.star-rating span {
    display:inline-block; 
    height:30px; 
    overflow:hidden; 
    background:url(star.png)
    no-repeat; 
}
.star-rating span{
     background-position:left bottom; 
     line-height:0; 
     vertical-align:top; 
    }
